*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: cornflowerblue;
}
nav{
    flex: 1;
    text-align: right;
}
nav a{
    display: inline;
    display: inline-block;
    margin-right: 20px;
    color: darkblue;
    text-decoration: none;
    flex-wrap: wrap;
}
nav a:hover{
    color: white;
}
.container{
    max-width: 1300px;
    /* margin: auto; */
    /* padding-left: 25px;
    padding-right: 25px; */
 } 

 .logo img{
       height: 50px;
       width: 50px;
 }

 .menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}







.con1{
    background-color: wheat;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    /* padding: 5%; */
}

.main{
    background-color: tomato;
    /* margin: 5%; */
}

.const1 , .const2{
    display: flex;
    justify-content: center;
}

.box1 , .box2{
    background-color: rgb(184, 192, 169);
    height: 300px;
    width: 300px;
    margin: 5%;
    padding: 2%;
    text-align: center;
}

.box1 img{
    justify-content: center;
    height: 200px;
    width: 200px;
}

.box2 img{
    justify-content: center;
    height: 200px;
    width: 200px;
}

.container{
    max-width: 1300px;
    /* margin: auto; */
    /* padding-left: 25px;
    padding-right: 25px; */
 } 
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer{
   background: #000;
   color: #8a8a8a;
   font-size: 14px;
   padding: 60px 0 20px;
}
.footer p{
   color: #8a8a8a;
}
.footer h3{
   color: white;
   margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3 , .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
  padding-left: 5%;

}
.footer-col-1{
   flex-basis: 30%;
}
.footer-col-2{
   flex: 1;
   text-align: center;
}
.footer-col-2 img{
   width: 180px;
   margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
   flex-basis: 12%;
   text-align: center;
   text-decoration: none;
}
.footer-col-3 a{
   text-decoration: none;
   color: white;
}
.footer-col-3 a:hover{
   color: tomato;
}
.footer-col-4 a{
   text-decoration: none;
   color: white;
}
.footer-col-4 a:hover{
   color: tomato;
}
.app-logo{
   margin-top: 20px;
}
.app-logo img{
   width: 140px;
}
.menu-icon{
   width: 28px;
   margin-left: 20px;
   display: none;
}



/* media query for less than 600 size  */
@media only screen and (max-width: 600px){
   .row{
       text-align: center;
   }
   .col-2, .col-3 , .col-4{
       flex-basis: 100%;
   }
}
















@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul a{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
    }
    .menu-icon{
        display: block;    
    }
}

@media screen and (max-width: 400px) {
     .const1 , .const2{
         display: grid;
         justify-content: center;
     }
     .box1 , .box2{
         height: 200px;
         width: 200px;
         justify-content: center;
         /* padding: 10px; */
     }
     .box1 img{
        justify-content: center;
        height: 150px;
        width: 150px;
    }
    .box2 img{
        justify-content: center;
        height: 150px;
        width: 150px;
    }
}