*{
    margin: 0;
    padding: 0;
    
}

.nav{
    background-color: black;
    color: white;
}

.brand img{
    height: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul{
    display: flex;
    text-decoration: none;
    /* padding: 20px; */
    height: 50px;
    background-color: black;
    color: white;
    list-style: none;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
nav ul li{
    padding: 0 12px;
}

.container3{
    height: 100%;
    padding: 5%;
    background-color: wheat;
}

.cont{
    padding: 5%;
    background-color: whitesmoke;
    /* height: 100%; */
    color: tomato;
    text-align: center;
    font-size: xx-large;
}

@media screen and (max-width:800px) {
    .container3{
        text-align: center;
        align-items: center;
        align-content: center;
        color: turquoise;
    }
    .cont{
        text-align: center;
        align-items: center;
        align-content: center;
    }
}