*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: violet;
}
.nav{
    background-color: black;
    color: white;
}

.brand img{
    height: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul{
    display: flex;
    text-decoration: none;
    /* padding: 20px; */
    height: 50px;
    background-color: black;
    color: white;
    list-style: none;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
nav ul li{
    padding: 0 12px;
}

.container{
    height: 500px;
    background-color: wheat;
    padding: 20px;
    margin: 30px;
}

.scontainer ,.scontainer2{
    /* display: flex; */
    float: left;
    text-align: center;
    align-content: center;
    margin: 20px;
    padding: 10px;
    height: 200px;
    width: 300px;
     /* padding: 10%; */
     margin-left: 40px;
    background-color: turquoise;
    
}

.songs{
    width: 100px;
}

.container3{
    /* margin: 20%;
    padding: 20%; */
    background-color: wheat;
    color: tomato;
}

.cont{
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
}

@media screen and (max-width:600px) {
    .container{
        text-align: center;
        align-content: center;
        align-items: center;
        height: 100%;
    }
    .scontainer , .scontainer2{
        text-align: center;
        align-content: center;
        align-items: center;
        /* height: 100%; */
    }
}